body{
    
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/simon-migaj-yui5vfkhuzs-unsplash-1580476027.jpg?resize=2048:*);
    background-repeat: no-repeat;
    background-size: 100vw;
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65), 200%); 

}
  

.menu_logo{
    display: flex;
    flex-direction: inline;
    justify-content: flex-end;
}

.logo{
    width: 75%;
    display: flex;
    justify-content: flex-start;
}

.menu_logo a {
    flex: 1;
    display: flex;
    flex-direction: inline-block;
    justify-content: flex-end;
    color: #fff;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: None;
    font-size: 20px;
    margin-top: 80px;
    margin-right: 20px;
}

.title{
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: "Merriweather", serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 80px;
    margin-bottom: 20px;
    border-top: solid;
    border-bottom: solid;
    border-width: 3px;
    border-color: #343434;
    margin-top: 100px;
    margin-left: 24vw;
    margin-right: 24vw;
}
  
.paragraph{
    font-size: 30px;
    margin-bottom: 58px;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    border-bottom: 3px solid white;
    padding: 50px;
    margin-left: 25vw;
    margin-right: 25vw;
}
  
.button {
    background-color: #fff;
    color: #080C71;
    border: none;
    border-radius: 5px;
    font-family: "Merriweather", serif;
    font-weight: 1000;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40vw;
    margin-right: 40vw;
}
  
.accounts{
    display: flex;
    flex-direction: inline-block;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top:6vw;
}
  
.instagram{
    margin: 20px;
}

.facebook{
    margin: 20px;
}

.youtube{
    margin: 20px;
}